<div class="page-loading" ng-hide="homepage.field_component" style="position: absolute;"></div>

<div data-ng-repeat="component in homepage.field_component" ng-show="homepage.field_component" class="container featured-persons-container">

  <h2>{{ component.field_component_list_person.field_person_list.title }} <a ng-show="eventCount" href="#/whats-on">({{ eventCount }} upcoming)</a></h2>

  <article class="featured-person" 
      data-ng-repeat="person in component.field_component_list_person.field_person_list | limitTo:2">

      <a ng-href="/#/person/{{ person.nid }}" class="featured-thumbnail">
        <img ng-src="{{ person.field_production.field_image.file.url }}" alt="">
        <h4 class="featured">Featured</h4>
      </a>
      <div class="featured-content">
        <h3><a ng-href="/#/person/{{ person.nid }}">{{ person.title }}</a></h3>

        <a ng-href="/#/person/{{ person.nid }}" class="read-more-link">Read more</a>

      </div>

  </article>

</div>