<div class="events-list" data-ng-controller='EventListCtrl'>
  
  <h1>Events List</h1>

    <article>
      
      <div class="event-list-container container" ng-repeat="event in events.list" id="event-name">

        <div class="event-list-img">
          <img ng-src="{{ event.field_production.field_image.file.url }}" alt="">
        </div>

        <div class="event-list-details">

          <h2>{{ event.title }}</h2>
          <h3 ng-show="event.field_production.field_subheading">{{ event.field_production.field_subheading }}</h3>

          <div ng-show="event.field_production.field_venue">
              {{ event.field_production.field_venue.name }} <span data-ng-repeat='parent in event.field_production.field_venue.parent'> at {{ parent.name }}</span>
          </div>

          <div class="event-list-date"ng-show="event.field_start_time">
            {{ event.field_start_time | date:'EEE h:mm' }}{{ event.field_start_time | date:'a' | lowercase }}<span ng-show="event.field_end_time"> &ndash; {{ event.field_end_time | date:'EEE h:mm' }}{{ event.field_end_time | date:'a' | lowercase }}</span>
          </div>

          <div data-ng-bind-html="event.field_teaser.value"></div>

          <a ng-click="isDescriptionOpen = !isDescriptionOpen" class="scroll-link">Full description</a>

          <div ng-show="isDescriptionOpen" class="slidedown slideup" data-ng-bind-html="event.field_description.value "></div>

        </div>

        <div class="ticket-box">

          <div data-ng-repeat='field_wristband_ticket in event.field_wristband_ticket' class="ticket-option" ng-show="field_wristband_ticket">
            Ticket type: {{ field_wristband_ticket.name }}
            <a ng-href="{{ field_wristband_ticket.url }}" class="book-now-btn">
              Book Now <span>£{{ field_wristband_ticket.field_ticket_price }}</span>
            </a>
          </div>

        </div>

      </div>
    
    </article>

</div>