<div class="event-single" data-ng-controller='EventSingleCtrl'>

<div>
  
  <h1>EVENT VIEW</h1>

  <div>

    <article>

      <div class="date">
        <strong>{{ event.field_start_time | date:'EEEE d MMMM yyyy' }}</strong>
        {{ event.field_start_time | date:'h:mm' }}{{ event.field_start_time | date:'a' | lowercase }}
        <span ng-show="event.field_end_time"> - {{ event.field_end_time | date:'h:mm' }}{{ event.field_end_time | date:'a' | lowercase }}</span>
      </div>

      <header class="container">

        <div class="event-name" id="event-name">
          <h1>{{ event.title }}</h1>
          <h3 ng-show="event.field_subheading">{{ event.field_subheading }}</h3>
          <a href="#full-description" du-smooth-scroll class="scroll-link">Full description</a>
          <div>&nbsp;</div>
        </div>

        <div class="ticket-box">
          <div data-ng-repeat='field_wristband_ticket in event.field_wristband_ticket' class="ticket-option">
            Ticket type: {{ field_wristband_ticket.name }}
            <a ng-href="{{ field_wristband_ticket.url }}" class="book-now-btn">
              Book Now <span>£{{ field_wristband_ticket.field_ticket_price }}</span>
            </a>
          </div>
        </div>

      </header>

      <div class="teaser">
        <h2 data-ng-bind-html="event.field_teaser.value"></h2>
      </div>

      <div class="featured-img"><img ng-src="{{ event.field_production.field_image.file.url }}" alt=""></div>

      <div class="event-details-container">

        <div class="event-details-content">
          <h3>Event Details</h3>
          <dl>
            <dt ng-show="event.field_production.field_venue">Venue</dt>
            <dd ng-show="event.field_production.field_venue">
              <span data-ng-repeat='parent in event.field_production.field_venue.parent'>{{ parent.name }} </span>
              - 
              {{ event.field_production.field_venue.name }}
            </dd>

            <dt ng-show="event.field_start_time">Time</dt>
            <dd ng-show="event.field_start_time">{{ event.field_start_time | date:'h:mm' }}{{ event.field_start_time | date:'a' | lowercase }} - {{ event.field_end_time | date:'h:mm' }}{{ event.field_end_time | date:'a' | lowercase }}</dd>

            <dt ng-show="event.field_start_time">Date</dt>
            <dd ng-show="event.field_start_time">{{ event.field_start_time | date:'EEEE d MMMM yyyy' }}</dd>

            <dt ng-show="event.festival.length > 0">Festival</dt>
            <dd ng-show="event.festival.length > 0"><span ng-show="festival.name" data-ng-repeat='festival in event.festival'>{{festival.name}}{{{true: '', false: ', '}[$last]}}</span></dd>

            <dt ng-show="event.field_production.field_event_type">Type of event</dt>
            <dd ng-show="event.field_production.field_event_type">{{ event.field_production.field_event_type.name }}</dd>

            <dt ng-show="event.field_production.field_age_recommended">Age</dt>
            <dd ng-show="event.field_production.field_age_recommended">{{ event.field_production.field_age_recommended }}</dd>

            <dt ng-show="event.duration">Running Time</dt>
            <dd ng-show="event.duration">{{ event.duration }} mins</dd>
          </dl>
        </div>

        <div class="booking-information-content">
          <h3>Booking Information</h3>
          <dl>
            <dt ng-show="event.field_production.field_ticket_prices">Price</dt>
            <dd ng-show="event.field_production.field_ticket_prices">{{ event.field_production.field_ticket_prices }}</dd>

            <dt ng-show="event.field_production.premiumPrice">Premium seats</dt>
            <dd ng-show="event.field_production.premiumPrice">{{ event.field_production.premiumPrice }}</dd>

            <dt ng-show="event.field_production.field_concessions">Concessions</dt>
            <dd ng-show="event.field_production.field_concessions">{{ event.field_production.field_concessions }}</dd>
          </dl>
        </div>

      </div>

      <div ng-show="event.field_description" class="full-description" id="full-description">
        <h3>Full Description</h3>
        <div data-ng-bind-html="event.field_description.value"></div>
      </div>

      <div ng-show="festival.name" class="festival-name">
        <div data-ng-repeat='festival in event.festival'>This event is part of <a href="#">Southbank Centre's {{ festival.name }} Festival</a></div>
      </div>

      <div ng-show="festival.name" class="festival-description" data-ng-repeat='festival in event.festival'>
        <h2 data-ng-bind-html="festival.description"></h2>
        <img ng-src="{{ festival.logo }}" alt="" class="festival-logo">
      </div>

    </article>
    
  </div>

</div>

</div>