<div class="event-single" data-ng-controller='EventController'>

<div>
	
	<h1>EVENT VIEW</h1>

	<div data-ng-repeat='event in events' id="n-{{ event.id }}">

		<article>

			<div class="date">
				<strong>{{ event.startDate | date:'EEEE d MMMM yyyy' }}</strong>
				{{ event.startDate | date:'h:mm' }}{{ event.startDate | date:'a' | lowercase }} - 
				{{ event.endDate | date:'h:mm' }}{{ event.endDate | date:'a' | lowercase }}
			</div>

			<header class="container">

				<div class="event-name" id="event-name">
					<h1>{{ event.nameTitle }}</h1>
					<h3>{{ event.nameSuffix }}</h3>
					<a href="#">Full description</a>
				</div>

				<div class="ticket-box" css-equal-height="event-name">Tickets go here...</div>

			</header>

			<div class="teaser">{{ event.teaserText }}</div>

			<div class="featured-img"><img ng-src="{{ event.image }}" alt=""></div>

			<div class="event-details-container">

				<div class="event-details-content">
					<h3>Event Details</h3>
					<ul>
						<li><label>Venue:</label> {{ event.location }}</li>
						<li><label>Time:</label> {{ event.startDate | date:'h:mm' }}{{ event.startDate | date:'a' | lowercase }} - 
				{{ event.endDate | date:'h:mm' }}{{ event.endDate | date:'a' | lowercase }}</li>
						<li><label>Date:</label> {{ event.startDate | date:'EEEE d MMMM yyyy' }}</li>
						<li data-ng-repeat='festival in event.festival'><label>Festival:</label> {{ festival.name }}</li>
						<li><label>Type of event:</label> {{ event.eventType }}</li>
						<li><label>Age:</label> {{ event.typicalAgeRange }}</li>
						<li><label>Running Time:</label> {{ event.duration }}</li>
					</ul>
				</div>

				<div class="booking-information-content">
					<h3>Booking Information</h3>
					<ul>
						<li><label>Price:</label> {{ event.price }}</li>
						<li><label>Premiun seats:</label> {{ event.premiumPrice }}</li>
						<li><label>Concessions:</label> {{ event.duration }}</li>
					</ul>
				</div>

			</div>

			<div class="full-description" data-ng-bind-html="event.description"></div>

			<div class="festival-name">
				<div data-ng-repeat='festival in event.festival'>This event is part of Southbank Centre's {{ festival.name }} Festival</div>
			</div>

			<div class="festival-description">
				<div data-ng-repeat='festival in event.festival' data-ng-bind-html="festival.description"></div>
			</div>

		</article>
		
	</div>

</div>

</div>
