<div class="person-single" data-ng-controller='PersonSingleCtrl'>

  <article ng-show="person">

    <header>

      <div class="person-name-container">
        <h1 class="person-name">
          <span class="person-first-name">{{ person.field_first_name }}</span>
          <span class="person-last-name">{{ person.field_last_name }}</span>
        </h1>
      </div>

      <figure class="person-image-container">
        <img src="{{ person.field_image.file.url }}" />
        <figcaption>{{ person.field_image.caption }}</figcaption>
      </figure>

    </header>

    <div class="person-bio-container">
      <div data-ng-bind-html="person.field_biography.value"></div>
    </div>

  </article>
  
</div>
