<div class="home" data-ng-controller='HomeCtrl'>

  <h1>Festival homepage</h1>

    <header class="container" ng-style="{'background-color':festival.colors.background, 'background-image':'url(\''+festival.image+'\')', 'color':festival.colors.text}">

      <div class="container">

        <div class="festival-logo-container" ng-show="festival.logo.large">
          <img src="{{festival.logo.large}}" class="festival-logo" alt="{{festival.festivalName}} Logo" />
        </div>

        <h1 class="large-heading" id="large-heading">
          <span class="festival-name-large">{{ festival.festivalName }} Festival: </span>
          <span class="festival-location">London</span>
          <span class="festival-year">{{ festival.startDate | date:'y' }}</span>
        </h1>

      </div>

      <div class="container">

        <div class="festival-date" ng-style="{'background-color':festival.colors.highlight, 'color':festival.colors.textHighlight}">
          {{ festival.startDate | date:'EEEE d MMMM' }} <span ng-show="festival.endDate">&mdash; {{ festival.endDate | date:'EEEE d MMMM y' }}</span>
        </div>

      </div>

      <div class="container">

        <div class="festival-description-container" ng-style="{'background-color':festival.colors.highlight, 'color':festival.colors.textHighlight}">
          <h2 class="festival-description-home" ng-show="festival.description" data-ng-bind-html="festival.description"></h2>
          <!--
          <div>
            <a href="#full-events-listing" du-smooth-scroll class="scroll-link">Full events listing</a>
          </div>
          -->
        </div>

      </div>

    </header>

</div>

<!-- <div id="featured-events" data-ng-controller='EventListCtrl'>

  <h2>Festival Events <a href="">({{ events.length }} upcoming)</a></h2>
    <article class="featured-event" data-ng-repeat='event in events'>
        <img ng-src="{{ event.image }}" alt="">
        <h3>{{ event.nameTitle }}</h3>
    </article>

</div> -->