<div class="planner">

  <div ui-view="scMenu"></div>

  <div ui-view="festivalName"></div>
  
  <div ui-view="festivalMenu"></div>

  <article>

    <header class="container">

      <div class="page-name" id="page-name">
        <h1 class="page-heading">Festival Planner</h1>
      </div>

    </header>

    <div festival-planner class="festival-planner"></div>

    <!-- <a id="sched-embed" href="http://wowtestv012015.sched.org/">View the WOW test v01 schedule & directory.</a><script type="text/javascript-lazy" src="http://wowtestv012015.sched.org/js/embed.js">
    </script> -->

  </article>
  
</div>
