<div class="blog-single container" data-ng-controller='BlogSingleCtrl'>
  <article>
    <header class="container">

      <div class="blog-post-name" id="blog-post-name">
        <h1>{{ blogPost.title }}</h1>

        <div class="blog-author">
          {{ blogPost.testPostAuthor }}
        </div>

        <div class="blog-list-date" ng-show="blogPost.testPostDate">
          <strong>{{ blogPost.testPostDate | amDateFormat:'dddd D MMMM YYYY' }}</strong>{{ blogPost.testPostDate | amDateFormat:'h:mm' }}{{ blogPost.testPostDate | amDateFormat:'a' | lowercase }}
        </div>
      </div>

    </header>

    <div ng-repeat="paragraph in blogPost.field_component">

      <div ng-switch="paragraph.bundle == 'subheading'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/headingView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'long_text'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/longTextView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'soundcloud_embed'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/soundcloudView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'youtube_embed'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/youtubeView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'flickr_embed'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/flickrView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'pull_quote'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/pullQuoteView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'link'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/linkView.html'"></div>
        </div>
      </div>

      <div ng-switch="paragraph.bundle == 'image'">
        <div ng-switch-when="true">
          <div ng-include="'app/components/content_components/imageView.html'"></div>
        </div>
      </div>

    </div>

  </article>
</div>