.festival-name-bar {

  position:relative;

  &.homepagenav {
    display:none;
  }

  @include adjust-font-size-to(18px);

  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(26px);
  }

  font-family: 'SC AkkuratLight';
  letter-spacing: $letter-spacing;
  background-repeat: no-repeat;
  background-attachment:top center;
  background-size:100% auto;
  overflow:hidden;

  .background-img {
    position:absolute;
    max-width:100%;
    opacity:0.4;
    z-index:1;
  }

  .festival-name-bar-content {

    position:relative;
    z-index:2;

    .festival-name-bar-logo-container {

      float:left;

      .festival-name-bar-logo {
        max-height: 75px;
        margin:2px $margin;
        vertical-align:middle;
      }

    }

    .festival-name-bar-text {

      overflow:hidden;
      padding: $padding/2 $padding;

      .festival-name-bar-name {
        font-family: 'SC AkkuratBold';
      }

    }

  }

}

.festival-nav {

  background-color:white;
  height:41px;
  border-bottom:1px solid $bg-color;
  // overflow:hidden;

  a {
    background:white;
    color:black;
    padding-right:0;

    &:hover {
      text-decoration:underline;
    }
  }

  nav {

    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    height:40px;
    overflow:hidden;

    @include breakpoint($bp-desktop) {
      @include span(10 of 12);
      position:static;
      padding:0 $padding;
      width:auto;
      height:auto;
      overflow:visible;
    }

    a {
      display:block;
      padding:$padding;
      padding-bottom:0;
      line-height:2.5em;

      &:last-of-type {
        padding-bottom:$padding;
      }
      
      @include breakpoint($bp-desktop) {
        display:inline-block;
        padding:0;
        margin-right:$margin*2;

        &:last-of-type {
          padding-bottom:0;
        }

      }

      &.active {
        text-decoration:underline;
        font-weight:bold;
      }

      &.hamburger {
        cursor:pointer;
        background:url('../imgs/mobile-burger.png') no-repeat center center;
        padding:$padding;
        margin-bottom:1px;
        height:40px;
        width:60px;

        @include breakpoint($bp-desktop) {
          display:none;
        }

        &:hover {
          text-decoration:none;
        }
      }
    }

    &.navOpen {
      height:auto;
      overflow:visible;
      width:100%;

      a {

        &.hamburger {
          background-image:url('../imgs/mobile-x.png');
        }

      }
    }
  }

  .twitter-hashtag {
    
    @include breakpoint($bp-desktop) {
      @include span(2 of 12 last);
    }
    padding:0 $padding;
    font-size:16px;
    line-height:2.5em;
    text-align:right;
    border-left:solid 1px $bg-color;
  }

}