// GLOBAL STYLES

// Links
a {
  &:link, &:visited {
    color: $link-color;
    text-decoration: none;
    background: $internal-link-bg;
  }
}

a {
  &:hover, &:active {
    color: $link-color;
    text-decoration: underline;
    background: $internal-link-bg;
  }
}