$susy: (
  columns: 12,
  container: 1080px,
  container-position: left,
  // gutters: 0,
  math: fluid,
  output: float,
  gutter-position: inside,
  global-box-sizing: content-box,

  gutters: 1/25 
  // gutter-position: split,
  // math: static
);

@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 4px;

@include establish-baseline;

.container {

  @include susy-breakpoint($bp-tablet, 12) {

    @include container($susy);

  }

  position: relative;

}