.home {

  #featured-events {

    margin-top: $section-margin-top;

    h2 { 
      margin: 0 $margin;
    }

  }

}

// Components styling - consider moving these to separate stylesheets if the component list grows and they are required to feature on pages other than the home page

.component-featured-events {

  position: relative;
  min-height: 50px;
  @include clearfix;
  margin: 0 0 $margin;
  h2 { margin: $section-margin-top $margin $margin; }

  article {
    @include breakpoint($bp-mobile) {
      @include span(4);
      &:last-child { 
        @include last;
        float: left;
      }
      clear: none;
    }
    h3 {
      margin-bottom: $margin;
      a { color: $black; background: none; }
    }
  } 

  .featured-thumbnail {
    position: relative; 
    .featured { position: absolute; bottom: 0; margin: 0; background: $secondary-highlight; color: $white; padding: $padding/2 $padding; }
    img { width: 100%; display: block; }
  }
  .featured-content { background: $white; padding: $padding; }

}