.home {
  
  header {

    @include clearfix;

    background-repeat: no-repeat;
    background-attachment:top center;
    background-size:100% auto;

    .large-heading {

      @include adjust-font-size-to(32px);

      @include breakpoint($bp-tablet) {
        @include adjust-font-size-to(40px);
      }
      
      @include breakpoint($bp-small-desktop) {
        @include adjust-font-size-to(60px);
      }
      margin: 0.8em 0;

      @include span(first 8);
      padding:$padding;

      .festival-location,
      .festival-year {
        font-family: 'SC AkkuratLight';
      }

      .festival-location:after {
        content:",";
      }

    }

    .festival-logo-container {
      @include span(last 4);
      padding:0;
      overflow:hidden;

      .festival-logo {
        float:right;
        max-width:100%;
        max-height:100%;
      }
    }

    .festival-date {
      clear: both;
      @include breakpoint($bp-small-desktop) {
        @include span(first 4);
        clear: none;
      }
      padding:$padding/2 $padding;
      // margin-right:gutter(8);
      // margin-bottom:rhythm(0.25);
      margin-bottom: 2px;
      font-weight:bold;
    }

    .festival-description-container {
      clear: both;
      @include breakpoint($bp-small-desktop) {
        @include span(first 8);
        clear: none;
      }
      padding:$padding;
      // margin-right:gutter(4);

      .festival-description-home {
        margin-bottom:$margin/2;
      }
    }

  }

}

#featured-events {

  margin-top: $section-margin-top;

  h2 { 
    margin: 0 $margin;
  }

}