@mixin standard-font-style() {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color:black;
  font-style:normal;
  font-weight:400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin valign-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
}