.person-single {

  .person-name-container {
    @include breakpoint($bp-small-desktop) {
      @include span(6);
    }

    background-color:white;
    padding: $padding;
    margin-bottom:0;
    word-wrap:break-word
  }

  .person-bio-container {
    padding:$padding/2 $padding;
    background-color:white;
    @include breakpoint($bp-small-desktop) {
      @include span(7);
    }
  }

}