@import "compass/typography/vertical_rhythm";

$base-font-size: 16px;
$base-line-height: 12px;
$rhythm-unit: "rem";

@include establish-baseline;

html { 	
	//font-size: 62.5%;
	@include adjust-leading-to(2);
}

body {
	@include standard-font-style();
	// @include font-size(1.6);
	// line-height: 1.4;
}

// FONTS
@font-face {
  font-family: 'SC Akkurat';
  src: url('../fonts/sbcakkrgpro1.eot');
  src: url('../fonts/sbcakkrgpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkrgpro1.svg') format('svg'), // load svg first to fix Chrome antialias bug: http://www.fontspring.com/blog/smoother-web-font-rendering-chrome
  url('../fonts/sbcakkrgpro1.woff') format('woff'),
  url('../fonts/sbcakkrgpro1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SC AkkuratBold';
  src: url('../fonts/sbcakkbdpro1.eot');
  src: url('../fonts/sbcakkbdpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkbdpro1.svg') format('svg'),
  url('../fonts/sbcakkbdpro1.woff') format('woff'),
  url('../fonts/sbcakkbdpro1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'SC AkkuratLight';
  src: url('../fonts/lineto-akkurat-pro-light.eot');
  src: url('../fonts/lineto-akkurat-pro-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-akkurat-pro-light.svg#AkkuratProLight') format('svg'),
  url('../fonts/lineto-akkurat-pro-light.woff') format('woff'),
  url('../fonts/lineto-akkurat-pro-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 { 
	margin: 0 0 0.5em; 
	@include adjust-font-size-to(32px);
	font-family: 'SC AkkuratBold';
}

h3 { 
	margin: 0 0 0.5em;
	font-weight: normal;
}

p { margin: 1em 0; }

.date { color: $secondary-highlight; }

.teaser { 
	@include adjust-font-size-to(26px);
	// line-height: 1.4;
	// @include font-size(2.6);
	font-family: 'SC AkkuratLight';
}