@import "compass/typography/vertical_rhythm";

$base-font-size: 16px; // 16px for tablet and up
$base-line-height: 13px; // 13px for tablet and up

@include establish-baseline;

html {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  @include adjust-leading-to(2);
}

body {
  @include standard-font-style;

  @include adjust-font-size-to(14px);
  
  @include breakpoint($bp-tablet) {
    @include adjust-font-size-to(16px);
  }
}

// FONTS
@font-face {
  font-family: 'SC Akkurat';
  src: url('../fonts/sbcakkrgpro1.eot');
  src: url('../fonts/sbcakkrgpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkrgpro1.svg') format('svg'), // load svg first to fix Chrome antialias bug: http://www.fontspring.com/blog/smoother-web-font-rendering-chrome
  url('../fonts/sbcakkrgpro1.woff') format('woff'),
  url('../fonts/sbcakkrgpro1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SC AkkuratBold';
  src: url('../fonts/sbcakkbdpro1.eot');
  src: url('../fonts/sbcakkbdpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkbdpro1.svg') format('svg'),
  url('../fonts/sbcakkbdpro1.woff') format('woff'),
  url('../fonts/sbcakkbdpro1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SC AkkuratLight';
  src: url('../fonts/lineto-akkurat-pro-light.eot');
  src: url('../fonts/lineto-akkurat-pro-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-akkurat-pro-light.svg') format('svg'),
  url('../fonts/lineto-akkurat-pro-light.woff') format('woff'),
  url('../fonts/lineto-akkurat-pro-light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1 {
  margin: 0 0 0.5em;
  @include adjust-font-size-to(26px);

  @include breakpoint($bp-mobile) {
     @include adjust-font-size-to(32px);
  }

  font-family: 'SC AkkuratBold';
  letter-spacing: $letter-spacing;
}

h2 {
  @include adjust-font-size-to(18px);

  @include breakpoint($bp-mobile) {
     @include adjust-font-size-to(26px);
  }

  font-weight: normal;
  font-family: 'SC AkkuratLight';
  letter-spacing: $letter-spacing;
}

h3 {
  margin: 0 0 0.5em;
  font-weight: normal;
  font-family: 'SC AkkuratBold';
}

p {
  margin: 1em 0; 
}