@import "compass/typography/vertical_rhythm";

$base-font-size: 14px; // 16px for tablet and up
$base-line-height: 13px; // 13px for tablet and up

@include establish-baseline;

html {
  @include adjust-leading-to(2);
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  @include standard-font-style;

  @include breakpoint($bp-tablet) {
    @include adjust-font-size-to(16px);
  }
}

// FONTS
@font-face {
  font-family: 'SC Akkurat';
  src: url('../fonts/sbcakkrgpro1.eot');
  src: url('../fonts/sbcakkrgpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkrgpro1.svg') format('svg'), // load svg first to fix Chrome antialias bug: http://www.fontspring.com/blog/smoother-web-font-rendering-chrome
  url('../fonts/sbcakkrgpro1.woff') format('woff'),
  url('../fonts/sbcakkrgpro1.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SC AkkuratBold';
  src: url('../fonts/sbcakkbdpro1.eot');
  src: url('../fonts/sbcakkbdpro1.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sbcakkbdpro1.svg') format('svg'),
  url('../fonts/sbcakkbdpro1.woff') format('woff'),
  url('../fonts/sbcakkbdpro1.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SC AkkuratLight';
  src: url('../fonts/lineto-akkurat-pro-light.eot');
  src: url('../fonts/lineto-akkurat-pro-light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/lineto-akkurat-pro-light.svg') format('svg'),
  url('../fonts/lineto-akkurat-pro-light.woff') format('woff'),
  url('../fonts/lineto-akkurat-pro-light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

h1 {
  @include adjust-font-size-to(26px);
  font-family: 'SC AkkuratBold';
  font-weight: normal;
  letter-spacing: $letter-spacing;
  margin: 0 0 0.5em;

  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(40px);
  }

}

.event-single h1 {
  @include adjust-font-size-to(24px);
  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(32px);
  }
}

h2 {
  @include adjust-font-size-to(18px);
  font-family: 'SC AkkuratLight';
  font-weight: normal;
  letter-spacing: $letter-spacing; 

  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(26px);
  }

}

h3 {
  margin: 0 0 0.5em;
  font-weight: bold;
  @include adjust-font-size-to(16px);
  /* font-family: 'SC AkkuratLight';
  font-weight: normal;
  letter-spacing: $letter-spacing; */

  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(21px);
  }
}

h4 {
  margin: 0 0 1em;
  font-weight: bold;
  @include adjust-font-size-to(12px);
  /* font-family: 'SC AkkuratLight';
  font-weight: normal;
  letter-spacing: $letter-spacing; */

  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(15px);
  }
}

p {
  margin: 1em 0; 
}

.page-heading {
  @include adjust-font-size-to(32px);
  margin-bottom: 0.25em;
  padding: $padding/2 $padding 0;
  
  @include breakpoint($bp-mobile) {
    @include adjust-font-size-to(50px);
  }

}

