$margin: 20px;
$padding: 20px;
$letter-spacing: -1px;

// SITE COLOURS
$bg-color: #ECEDEA;
$white: #FFF;
$light-grey: #F7F7F7;
$link-color: #0080FF;
$secondary-highlight: #20A151;

// SITE BREAKPOINTS
$bp-mobile: 480px;
$bp-tablet: 569px;
$bp-small-desktop: 768px;
$bp-desktop: 960px;
$bp-fullwidth: 1174px;