$margin: 20px;
$padding: 20px;
$section-margin-top: 70px;
$letter-spacing: -0.02em;

// SITE COLOURS
$bg-color: #ECEDEA;
$black: #000;
$white: #FFF;
$light-grey: #F7F7F7;
$link-color: #0080FF;
$secondary-highlight: #2CD1B3;

// SITE BREAKPOINTS
$bp-mobile: 480px;
$bp-mobile-max: max-width 667px;
$bp-tablet: 700px;
$bp-small-desktop: 768px;
$bp-desktop: 960px;
$bp-fullwidth: 1174px;